In [210]:
import pandas as pd
import numpy as np

In [211]:
p111 = pd.read_csv(f'Again submission/111.csv')

In [212]:
eval(p111['M'][4]) , eval(p111['S'][4])

([], ['236'])

In [213]:
p111

            ID               M        S
0            0         ['100']  ['105']
1            1         ['100']  ['105']
2            2  ['100', '300']  ['399']
3            3         ['400']  ['496']
4            4              []  ['236']
...        ...             ...      ...
149995  149995         ['400']  ['499']
149996  149996         ['200']       []
149997  149997         ['100']  ['101']
149998  149998         ['100']  ['115']
149999  149999         ['300']  ['399']

[150000 rows x 3 columns]

In [214]:
p222 = pd.read_csv(f'Again submission/222.csv')


p2 = pd.read_csv(f'Again submission/2.csv')

p3 = pd.read_csv(f'Again submission/3.csv')

p4 = pd.read_csv(f'Again submission/4.csv')


p5 = pd.read_csv(f'Again submission/5.csv')


p6 = pd.read_csv(f'Again submission/6.csv')


p7 = pd.read_csv(f'Again submission/7.csv')


p8 = pd.read_csv(f'Again submission/8.csv')


p9 = pd.read_csv(f'Again submission/9.csv')


p10 = pd.read_csv(f'Again submission/10.csv')


p11 = pd.read_csv(f'Again submission/11.csv')


p12 = pd.read_csv(f'Again submission/12.csv')


p13 = pd.read_csv(f'Again submission/13.csv')


p14 = pd.read_csv(f'Again submission/14.csv')


p15 = pd.read_csv(f'Again submission/15.csv')


p16 = pd.read_csv(f'Again submission/16.csv')


p17 = pd.read_csv(f'Again submission/17.csv')


p18 = pd.read_csv(f'Again submission/18.csv')


p19 = pd.read_csv(f'Again submission/19.csv')

p20 = pd.read_csv(f'Again submission/20.csv')


p21 = pd.read_csv(f'Again submission/21.csv')

p22 = pd.read_csv(f'Again submission/22.csv')

In [215]:
rank_list = [p222, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11, p12, p13, p14, p15, p16, p17, p18, p19, p20, p21, p22]

In [216]:
empty_M = []

empty_S = []

for i in range(150000):
    if p111['M'][i] == '[]':
        empty_M.append(i)

    if p111['S'][i] == '[]':
        empty_S.append(i)

print(len(empty_M), len(empty_S))

1847 10818

In [217]:
for i in range(150000):

    if p111['M'][i] == '[]' and p111['S'][i] == '[]':

        for best in rank_list:

            if best['M'][i] != '[]' and best['S'][i] != '[]' :
                p111.at[i, 'M'] = best['M'][i]
                p111.at[i, 'S'] = best['S'][i]
                break

In [218]:
empty_M = []

empty_S = []

for i in range(150000):
    if p111['M'][i] == '[]':
        empty_M.append(i)

    if p111['S'][i] == '[]':
        empty_S.append(i)

len(empty_M), len(empty_S)

(962, 9933)

In [219]:
type(eval(p111['M'][4]))

list

In [220]:
for i in range(150000):

    if p111['M'][i] == '[]' and p111['S'][i] != '[]' :

        scls = eval(p111['S'][i])
        mcls = []

        for s in scls:
            if 101 <= int(s) <= 199:
                mcls.append(100)
            elif 201 <= int(s) <= 299:
                mcls.append(200)
            elif 301 <= int(s) <= 399:
                mcls.append(300)
            elif 401 <= int(s) <= 499:
                mcls.append(400)

        temp = []

        for m in mcls:
            if m not in temp:
                temp.append(m)

        temp.sort()
        temp = [str(e) for e in temp]
        p111.at[i, 'M'] = str(temp)

In [221]:
empty_M = []

empty_S = []

for i in range(150000):
    if p111['M'][i] == '[]':
        empty_M.append(i)

    if p111['S'][i] == '[]':
        empty_S.append(i)

len(empty_M), len(empty_S)

(238, 9933)

In [222]:
main_class = [100, 200, 300, 400]
sub_class = [101, 102, 103, 104, 105, 109, 110, 115, 119, 120, 121, 122, 123, 127, 128, 130, 131, 133, 199, 235, 236, 238, 241, 245, 248, 252, 254, 258, 259, 299, 361, 399, 401, 494, 495, 496, 499]

In [223]:
from collections import Counter

In [224]:
for i in range(150000):

    if p111['M'][i] != '[]' and p111['S'][i] == '[]' :

        mcls = eval(p111['M'][i])
        scls = []

        for best in rank_list:
            if best['M'][i] == p111['M'][i] and best['S'][i] != '[]' :
                scls.extend(int(s) for s in eval(best['S'][i]))

        ms100 = []
        ms200 = []
        ms300 = []
        ms400 = []

        for m in mcls:
            if int(m) == 100:
                for t in scls:
                    if 101 <= t <= 199:
                        ms100.append(t)

            elif int(m) == 200:
                for t in scls:
                    if 201  <= t <= 299:
                        ms200.append(t)
            elif int(s) == 300:
                for t in scls:
                    if 301 <= t <= 399:
                        ms300.append(t)
            elif int(m) == 400:
                for t in scls:
                    if 401 <= t <= 499:
                        ms400.append(t)

        final = []

        for m in mcls:
            if int(m) == 100:
                if len(ms100) != 0:
                    fc100 = Counter(ms100)
                    # Find the element with the maximum frequency
                    # for e, f in fc100.items():
                    #     if f >= 4:
                    #         final.append(e)
                    mfe = max(fc100, key=fc100.get)
                    final.append(mfe)

            elif int(m) == 200:
                if len(ms200) != 0:
                    fc200 = Counter(ms200)
                    # for e, f in fc200.items():
                    #     if f >= 4:
                    #         final.append(e)
                    # Find the element with the maximum frequency
                    mfe = max(fc200, key=fc200.get)
                    final.append(mfe)

            elif int(m) == 300:
                if len(ms300) != 0:
                    fc300 = Counter(ms300)
                    # for e, f in fc300.items():
                    #     if f >= 4:
                    #         final.append(e)
                    # Find the element with the maximum frequency
                    mfe = max(fc300, key=fc300.get)
                    final.append(mfe)

            elif int(m) == 400:
                if len(ms400) != 0:
                    fc400 = Counter(ms400)
                    # for e, f in fc400.items():
                    #     if f >= 4:
                    #         final.append(e)
                    # Find the element with the maximum frequency
                    mfe = max(fc400, key=fc400.get)
                    final.append(mfe)

        final.sort()

        final = [str(s) for s in final]
        
        p111.at[i, 'S'] = str(final)

In [225]:
empty_M = []

empty_S = []

for i in range(150000):
    if p111['M'][i] == '[]':
        empty_M.append(i)

    if p111['S'][i] == '[]':
        empty_S.append(i)

len(empty_M), len(empty_S)

(238, 1907)

In [ ]:
238 , 3989

In [226]:
import os

directory = "submission"
if not os.path.exists(directory):
    os.makedirs(directory)

# Save the DataFrame as a CSV file
filename = os.path.join(directory, f"sub62.csv")
p111.to_csv(filename, index=False)
print('Saved csv file')

Saved csv file